@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f2f5f7;
  color: black;
}
:root.light-theme{
  background-color: #f2f5f7;
  color: black;
}
:root.dark-theme{
  background-color: #0d1929;
  color: white;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
  .dark {
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
}
